.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
android/.gradle/
android/local.properties
android/key.properties
android/app/google-services.json
serviceAccountKey.json
*.jks
*.keystore
.DS_Store
